.banner {
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background: var(--component-background);
    background-image: url("../../../assets/images/miosta/banner.svg");
    background-repeat: no-repeat;
    background-position: 240px 18%;
    background-size: 100%;
}

.banner .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
}

.banner .bg img {
    width: 100%;
    object-fit: contain;
    height: 120%;
    transform: translate(20%, -5%) scale(1);
}

.banner .container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.banner .container .content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--body-padding);
}

.banner .container .content h1 {
    font-size: 50px;
    font-weight: bold;
}

.banner .container .content div {
    white-space: pre-line;
    font-size: var(--font-size-large);
}

@media (max-width: 1200px) {
    .banner {
        background-position: 2vw -4vh;
        background-size: 150%;
        height: 80vh;
    }

    .banner .bg img {
        transform: translate(24.5%, -5%) scale(1)
    }

    .banner .container .content div {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .banner {
        background-position: -23vw 14vh;
        background-size: 196%;
    }

    .banner .bg img {
        transform: translate(19.5%, 7%) scale(1.2);
    }

    .banner .container .content h1 {
        font-size: 30px;
        font-weight: bold;
    }
}
