.wrapper {
    max-width: var(--max-width);
    padding: 3rem 1rem;
    margin: 0 auto;
}
.wrapper h1 {
    margin-bottom: 3rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.content .item .titleBlock {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
    gap: 1rem;
}

.content .item .titleBlock .flag {
    height: 30px;
    width: 30px;
}

.content .item .titleBlock .title {
    font-size: 20px;
    font-weight: bold;
}

.content .item p {
    margin: 0 0 0 calc(1rem + 30px);
    color: var(--secondary-color);
}

.email {
    font-size: 20px;
}