.container {
    background: var(--component-background);
    padding: 3rem 1rem 0;
}

.container .wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

.container .header {
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 70%;
    margin: 0 auto 3rem;
}

.container .header .image {
    width: 25%;
}

.container .header .image img {
    width: 100%;
}

.container .header .title {
    font-size: var(--font-size-large);
}

.container .content {
    display: grid;
    /*grid-template-columns: 55% 45%;*/
    /*grid-template-rows: 1fr 1fr;*/
    align-items: flex-end;
    max-width: 90%;
    margin: 0 auto 3rem;
}

.container .content .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 2rem;
}

.container .content .item img {
    height: 30px;
    width: 30px;
}

.container .content .item .desc {
    color: var(--secondary-color);
}

.container .card {
    border-radius: var(--border-radius-base);
    background: var(--layout-background);
    padding: 3rem 1rem;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
}

.container .card .wrapper {
    /*width: calc(80% + 2rem);*/
    /*margin: 0 auto;*/
}

.container .card .wrapper h1 {
    margin-bottom: 3rem;
}

.container .card .wrapper ul {
    padding: 0;
}

.container .card .wrapper ul li {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.container .card .wrapper ul li:before {
    content: '';
    display: inline-block;
    height: .75rem;
    width: .75rem;
    background-image: url('../../../assets/images/miosta/icon-9.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1em;
}

@media (max-width: 768px) {
    .container .header {
        gap: 2rem;
        max-width: 100%;
        flex-direction: column;
    }

    .container .header .image {
        width: 60%;
    }

    .container .header .title {
        text-align: center;
    }

    .container .content {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: flex-end;
        margin: 0 0 3rem 0;
    }

    .container .content .item {
        padding: 1rem 0;
    }

    .container .card .wrapper {
        width: 100%;
    }
}