.container {
    background: var(--component-background);
    padding: var(--container-padding) var(--body-padding);
}

.container .wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
}

.container .wrapper h1 {
    font-family: "Google Sans", sans-serif;
    color: var(--text-color);
    text-align: center;
}

.container .wrapper .subTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-large);
    justify-content: center;
    margin-bottom: 3rem;
}

.container .wrapper .logo {
    height: 50px;
}

.container .wrapper .blocks {
    display: flex;
    gap: 4rem;
    margin-bottom: var(--container-padding);
}

.container .wrapper .blocks .block {
    position: relative;
    padding-top: 1rem;
}

.container .wrapper .blocks .block:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background: var(--component-background);
    border: 5px solid var(--primary-color);
    transform: translateY(calc(-50% - 1rem));
    z-index: 2;
}

.container .wrapper .blocks .block:not(:last-child):after {
    content: "";
    border-bottom: 2px solid var(--primary-color);
    position: absolute;
    left: 0;
    right: -4rem;
    top: 0;
}

.container .wrapper .blocks .block h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-family: "Google Sans", sans-serif;
}

.container .wrapper .blocks .block p {
    color: var(--secondary-color);
}


.container .wrapper .card {
    background: var(--layout-background);
    border-radius: var(--border-radius-base);
    padding: 3rem 6rem;
}

.container .wrapper .card img {
    width: 100%;
    margin-top: 1rem;
}

.items {
    display: none;
}

@media (max-width: 768px) {
    .container .wrapper .blocks {
        display: block;
        gap: 1rem;
    }

    .container .wrapper .blocks .block {
        padding-top: .5rem;
    }

    .container .wrapper .blocks .block:before {
        content: none;
    }

    .container .wrapper .blocks .block:not(:last-child):after {
        content: none;
    }

    .container .wrapper .blocks .block h3 {
        margin-top: 0;
    }

    .container .wrapper .card {
        padding: 3rem 1rem;
    }

    .container .wrapper .card img {
        display: none;
    }

    .items {
        display: block;
    }

    .items .item {
        font-weight: bold;
        display: grid;
        grid-template-columns: 20px 1fr;
        gap: 1rem;
        align-items: center;
        position: relative;
    }

    .items .item:not(:last-child) {
        margin-bottom: 1rem;
    }

    .items .item:before {
        content: "";
        width: 20px;
        height: 20px;
        background: var(--primary-color);
        border-radius: 50%;
    }

    .items .item:not(:last-child):after {
        content: "";
        position: absolute;
        height: 36px;
        border-left: 1px solid var(--primary-color);
        transform: translateX(10px);
        top: 75%;
    }
}