.banner {
    position: relative;
    height: calc(100vh - 100px);
    overflow: hidden;
    width: 100%;
    z-index: 1;
    background: var(--component-background);
}

.banner .bg {
    /*background-image: url("../../assets/images/banner.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 300px -130px;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
    /*background-size: 92.5%;*/
}
.banner .bg img {
    width: 100%;
    object-fit: cover;
    height: 190%;
    transform: translate(20%, -5%) scale(1.1);
}

.banner .container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.banner .container .content {
    max-width: var(--max-width);
    margin: 0 auto;
}

.banner .container .content h1 {
    font-size: 50px;
    font-weight: bold;
}

.banner .container .content div {
    font-size: 30px;
}